@use '../abstracts/' as *;

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 2rem;
	/* border: 1px solid blueviolet; */
}

.img-fluid {
	width: 100%;
	height: auto;
}

button {
	text-decoration: none;
	color: inherit;
	border: 1px solid $tertiary-color;
	padding: 0.5rem 1rem;
	border-radius: 50px;
	box-shadow: 4px 4px 0 $tertiary-color;
	display: inline-block;

	&:hover {
		transform: translateY(-3px);
	}
}
