@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$main-font: 'Bevan', serif;
$secondary-font: 'Ubuntu', sans-serif;

$h1-font-size: 2.986rem;
$h2-font-size: 2.488rem;
$h3-font-size: 2.074rem;
$h4-font-size: 1.728rem;
$h5-font-size: 1.44rem;
$h6-font-size: 1.2rem;

$p-font-size: 1rem;
$small-font-size: 0.833rem;
$mini-font-size: 0.694rem;
