@use '../abstracts/' as *;
@use '../components/' as *;
@use '../core/' as *;

.about {
	background-color: $fifth-color;
	border-radius: 2rem;
	scroll-margin-top: 100px;

	&__wrapper {
		font-family: $secondary-font;
		color: $text-dark-color;
		display: flex;
		padding: 4rem;
		gap: 2.5rem;
		align-items: center;
	}

	&__left {
		min-width: 350px;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;

		&__title {
			font-family: $main-font;
			font-size: $h3-font-size;
			color: $text-dark-color;
		}

		&__image {
			display: flex;
			img {
				width: 280px;
				height: auto;
				object-fit: cover;
				border-radius: 50%;
				border: 1px solid $tertiary-color;
				box-shadow: 8px 8px 0 $tertiary-color;
			}
		}
	}

	&__right {
		&__text {
			text-align: justify;
			font-size: $h6-font-size;
			line-height: 1.5;
			padding: 0 4rem;
			display: flex;
			flex-direction: column;
		}
	}
}
