@use '../abstracts/' as *;
@use '../components/' as *;
@use '../core/' as *;

.about {
	background-color: $fifth-color;
	border-radius: 2.5rem;
	/* height: 750px; */

	&__wrapper {
		font-family: $secondary-font;
		color: $text-dark-color;
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: repeat(3, 1fr);
	}

	&__title {
		grid-column: 1/2;
		grid-row: 1/2;
		font-family: $main-font;
		font-size: $h4-font-size;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image {
		grid-column: 1/2;
		grid-row: 2/3;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 230px;
			height: auto;
			object-fit: cover;
			border-radius: 50%;
			border: 1px solid $tertiary-color;
			box-shadow: 8px 8px 0 $tertiary-color;
		}
	}

	&__text1,
	&__text2,
	&__text3 {
		text-align: right;
		font-size: $h6-font-size;
		line-height: 1.5;
		padding: 0 4rem;
		grid-column: 2/3;
	}

	&__text1 {
		grid-row: 1/2;
		display: flex;
		align-items: center;
	}

	&__text2 {
		grid-row: 2/3;
	}

	&__text3 {
		grid-row: 3/4;
	}
} /*  */
