@use '../abstracts/' as *;
@use '../components/' as *;
@use '../core/' as *;

.about {
	margin-top: -15rem;

	&__wrapper {
		font-family: $main-font;
		color: $text-dark-color;
		position: relative;
		background-color: $fifth-color;
	}

	&__title {
		display: flex;
		justify-content: flex-end;
		padding: 3rem 4rem 0 0;
		font-size: $h4-font-size;
	}

	&__image {
		img {
			width: 230px;
			height: auto;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&__text1,
	&__text2 {
		text-align: right;
		font-size: $p-font-size;
		line-height: 1.5;
		padding: 0 4rem;
	}

	&__text1 {
		grid-column: 2/5;
		grid-row: 2/3;
	}

	&__text2 {
		grid-column: 2/5;
		grid-row: 2/4;
		padding-top: 9rem;
	}
}
