@use '../abstracts/' as *;
@use '../components/' as *;
@use '../core/' as *;

.contact {
	margin: 6rem 0;
	background-color: $fourth-color;
	scroll-margin-top: 100px;
	height: 600px;

	&__wrapper {
		font-family: $secondary-font;
		color: $text-dark-color;
		display: flex;
		/* padding: 4rem;
		align-items: center; */
	}

	&__left {
		min-width: 350px;
		height: auto;
		display: flex;
		align-items: center;
		flex: 1;
		justify-content: center;
		/* gap: 3rem; */

		&__title {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-family: $main-font;

			h2 {
				font-size: $h2-font-size;
			}
			h3 {
				font-size: $h3-font-size;
				text-transform: uppercase;
			}
			h4 {
				font-size: $h4-font-size;
			}
		}
	}

	&__right {
		flex: 2;
		display: flex;
		justify-content: end;

		&__form {
			width: 100%;

			.form {
				background: $sixth-color;
				border: 1px solid $tertiary-color;
				border-radius: 50px;
				box-shadow: 4px 4px 0 $tertiary-color;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				padding: 8rem 6rem;

				&__field {
					margin: 0.5rem 0 1rem 0;
					font-size: $h6-font-size;
					height: 2.5rem;
					border-radius: 0.5rem;
					border: 2px solid $tertiary-color;
					font-family: $secondary-font;
					font-size: $p-font-size;
				}

				textarea {
					height: 10rem;
					padding: 0.25rem;
				}
			}

			.btn {
				font-family: $secondary-font;
				font-size: $p-font-size;
				background: $bg-secondary-color;
				margin-top: 2rem;
			}
		}
	}
}
