@use '../abstracts/' as *;
@use '../components/' as *;
@use '../core/' as *;

.nav {
	position: fixed;
	width: 100%;
	z-index: 5;
	top: 0;
	color: $text-dark-color;
	height: 8rem;
	/* border: 1px solid coral; */

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-family: $secondary-font;
		margin-top: 0.85rem;
		background-color: $bg-secondary-color;
		border: 1px solid darkblue;
	}

	&__left-header h1 {
		font-size: $h3-font-size;
		font-weight: 100;
		line-height: 1;
		margin-top: 0.25rem;
		text-decoration: none;
		text-decoration: none;
		color: $text-dark-color;
		display: flex;
		flex-wrap: wrap;
		width: 100px;
		line-height: 1.2;
		border: 1px solid black;
	}

	&__left-header h1:hover {
		cursor: pointer;
		color: $tertiary-color;
	}

	&_right-header {
		display: flex;
		flex-direction: row;
		border: 1px solid black;
	}

	.nav__menu {
		display: flex;
		gap: 1rem;
		font-size: $p-font-size;

		a {
			text-decoration: none;
			color: inherit;
		}
	}

	.nav__menu-item:hover {
		cursor: pointer;
		color: $tertiary-color;
	}
}

.navbar-background {
	background: #fff;
}
