@use '../abstracts/' as *;
@use '../components/' as *;
@use '../core/' as *;

.nav {
	position: fixed;
	width: 100%;
	z-index: 5;
	top: 0;
	left: 0;
	color: $tertiary-color;
	font-family: $secondary-font;
	text-transform: uppercase;
	font-weight: 500;
	font-size: $p-font-size;
	transition: all 1s ease-in-out;

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 3rem 4rem;
		transition: all 1s ease-in-out;
	}

	&__left-header,
	&__right-header {
		text-decoration: none;
		color: inherit;
		display: flex;
		flex-direction: row;
		transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
	}

	&__left-header &__menu {
		display: flex;
		gap: 2rem;

		.nav__menu-item {
			a {
				text-decoration: none;
				color: inherit;
				border: 1px solid $tertiary-color;
				padding: 0.5rem 1rem;
				border-radius: 50px;
				box-shadow: 4px 4px 0 $tertiary-color;
				display: inline-block;

				&:hover {
					transform: translateY(-3px);
				}
			}

			&:nth-child(1) a {
				background-color: $bg-secondary-color;
			}

			&:nth-child(2) a {
				background-color: $fifth-color;
			}

			&:nth-child(3) a {
				background-color: $fourth-color;
			}
		}
	}

	&__right-header &__menu {
		display: flex;
		gap: 2rem;

		.nav__menu-item {
			a {
				/* color: inherit; */
				border: 1px solid $tertiary-color;
				border-radius: 50px;
				box-shadow: 4px 4px 0 $tertiary-color;
				display: inline-block;

				&:hover {
					transform: translateY(-3px);
				}
			}
		}
	}

	&__divider {
		border: none;
		border-bottom: 0.5px solid $tertiary-color;
		width: 100%;
		transition: all 1s ease-in-out;
	}

	&.navbar-background {
		.nav__wrapper {
			background-color: rgba($sixth-color, 0.7);
			backdrop-filter: blur(6px);
			padding: 1.5rem 4rem;
		}
	}
}
