@use '../abstracts/' as *;
@use '../components/' as *;
@use '../core/' as *;

.nav {
	position: fixed;
	width: 100%;
	z-index: 5;
	top: 0;
	left: 0;
	color: $text-dark-color;
	height: 6rem;

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-family: $secondary-font;
	}

	&__left-header a {
		text-decoration: none;
		color: inherit;
	}

	&__left-header h1 {
		font-size: $h3-font-size;
		font-weight: 100;
		margin-top: 0.25rem;
	}

	&__left-header a:hover {
		cursor: pointer;
		color: $tertiary-color;
	}

	&_right-header {
		display: flex;
		flex-direction: row;
	}

	.nav__menu {
		display: flex;
		gap: 1rem;
		font-size: $p-font-size;

		a {
			text-decoration: none;
			color: inherit;
		}
	}

	.nav__menu-item:hover {
		cursor: pointer;
		color: $tertiary-color;
	}
}
