@use '../abstracts/' as *;
@use '../components/' as *;
@use '../core/' as *;

.skills {
	margin: 6rem 0;

	&__wrapper {
		display: flex;
	}

	&__title {
		justify-content: center;
		align-items: center;
		font-family: $main-font;
		font-size: $h3-font-size;
		margin-bottom: 3rem;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 3rem;

		&__icon {
			img {
				width: 130px;
			}

			img:hover {
				width: 150px;
			}
		}
	}
}
