@use '../abstracts/' as *;
@use '../components/' as *;
@use '../core/' as *;

.skills {
	margin-top: 7rem;

	&__wrapper {
		font-family: $main-font;
		color: $text-dark-color;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 2fr 1fr;
	}

	&__background1 {
		grid-column: 1/4;
		grid-row: 1/3;
		background: $tertiary-color;
		z-index: -3;
		margin-right: 9rem;
		margin-bottom: 7rem;
	}

	&__title1 {
		grid-column: 1/2;
		grid-row: 1/2;
		line-height: 1.5;
		margin: 2rem 0 0 2rem;

		h2 {
			text-transform: uppercase;
		}
	}

	&__text2 {
		grid-column: 1/3;
		grid-row: 1/3;
		display: flex;
		flex-direction: column-reverse;
		padding: 2.5rem 4rem 1.5rem 1.5rem;
		margin: 1rem 1rem 0 1.5rem;
		align-self: start;
	}
	&__background2 {
		grid-column: 2/5;
		grid-row: 1/4;
		background: $fourth-color;
		z-index: -5;
		margin: 8rem 0 8rem 17rem;
	}
}
