@use '../abstracts/' as *;
@use '../components/' as *;
@use '../core/' as *;

.skills {
	margin-top: 6rem;
	scroll-margin-top: 100px;
	height: 600px;
	/* background: $fourth-color; */

	&__wrapper {
		display: flex;
		flex-direction: column;
		padding: 4rem;
	}

	&__title {
		display: flex;
		justify-content: center;
		font-family: $main-font;
		font-size: $h2-font-size;
		margin-bottom: 10rem;
	}

	&__items ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		gap: 3rem;
	}

	li {
		img {
			width: 100px;
			transition: all 0.5s;
			opacity: 0.75;
		}

		img:hover {
			width: 130px;
			opacity: 1;
		}
	}
}
