$bg-primary-color: #fff;
$bg-secondary-color: #f8c269;
$tertiary-color: #0a10b3;
$fourth-color: #fa9e9b;
$fifth-color: #c87dcc;
$sixth-color: #546ed8;

$text-dark-color: #131313;
$text-light-color: #fbe3bb;

/* $bg-primary-color: #05017b; */
