@import url("https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* $bg-primary-color: #05017b; */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: #fff;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

img {
  display: block;
}

main {
  display: block !important;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  /* border: 1px solid blueviolet; */
}

.img-fluid {
  width: 100%;
  height: auto;
}

button {
  text-decoration: none;
  color: inherit;
  border: 1px solid #0a10b3;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  box-shadow: 4px 4px 0 #0a10b3;
  display: inline-block;
}
button:hover {
  transform: translateY(-3px);
}

.back-top {
  right: 8rem;
  bottom: 3rem;
  position: fixed;
  cursor: pointer;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 99;
}

.back-top-visible {
  opacity: 1;
  pointer-events: all;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  color: #0a10b3;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  transition: all 1s ease-in-out;
}
.nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;
  transition: all 1s ease-in-out;
}
.nav__left-header, .nav__right-header {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.nav__left-header .nav__menu {
  display: flex;
  gap: 2rem;
}
.nav__left-header .nav__menu .nav__menu-item a {
  text-decoration: none;
  color: inherit;
  border: 1px solid #0a10b3;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  box-shadow: 4px 4px 0 #0a10b3;
  display: inline-block;
}
.nav__left-header .nav__menu .nav__menu-item a:hover {
  transform: translateY(-3px);
}
.nav__left-header .nav__menu .nav__menu-item:nth-child(1) a {
  background-color: #f8c269;
}
.nav__left-header .nav__menu .nav__menu-item:nth-child(2) a {
  background-color: #c87dcc;
}
.nav__left-header .nav__menu .nav__menu-item:nth-child(3) a {
  background-color: #fa9e9b;
}
.nav__right-header .nav__menu {
  display: flex;
  gap: 2rem;
}
.nav__right-header .nav__menu .nav__menu-item a {
  /* color: inherit; */
  border: 1px solid #0a10b3;
  border-radius: 50px;
  box-shadow: 4px 4px 0 #0a10b3;
  display: inline-block;
}
.nav__right-header .nav__menu .nav__menu-item a:hover {
  transform: translateY(-3px);
}
.nav__divider {
  border: none;
  border-bottom: 0.5px solid #0a10b3;
  width: 100%;
  transition: all 1s ease-in-out;
}
.nav.navbar-background .nav__wrapper {
  background-color: rgba(84, 110, 216, 0.7);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  padding: 1.5rem 4rem;
}

.hero {
  font-family: "Bevan", serif;
  position: relative;
  overflow: hidden;
  background: #fff;
  margin-top: 7rem;
  min-height: 100vh;
  cursor: none;
  /* &__cursor {
  	position: fixed;
  	background: $bg-secondary-color;
  	width: 30px;
  	height: 30px;
  	border-radius: 50%;
  	will-change: transform;
  	user-select: none;
  	pointer-events: none;
  	z-index: 10000;
  	transform-origin: center;
  }
  */
}
.hero__shapes {
  position: relative;
  height: 500px;
  width: 100%;
  background: #0a10b3;
  overflow: hidden;
}
.hero__shapes .shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
  transform-origin: center center;
}
.hero__shapes .shape-1 {
  background: #546ed8;
  width: 650px;
  height: 650px;
  margin-top: -325px;
  margin-left: -325px;
}
.hero__shapes .shape-2 {
  background: #c87dcc;
  width: 440px;
  height: 440px;
  margin-top: -220px;
  margin-left: -220px;
}
.hero__shapes .shape-3 {
  background: #fa9e9b;
  width: 270px;
  height: 270px;
  margin-top: -135px;
  margin-left: -135px;
}
.hero .hero__text {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 100%;
  background: #fff;
  mix-blend-mode: screen;
  flex-wrap: wrap;
  /* h5 {
  	font-size: $h5-font-size;
  	color: #000;
  	margin: 0;
  	text-align: center;
  } */
}
.hero .hero__text h1 {
  font-size: 10rem;
  color: #000;
  margin: 0;
  text-align: center;
}

::-moz-selection {
  color: #fff;
  background: #0a10b3;
}

::selection {
  color: #fff;
  background: #0a10b3;
}

.about {
  background-color: #c87dcc;
  border-radius: 2rem;
  scroll-margin-top: 100px;
}
.about__wrapper {
  font-family: "Ubuntu", sans-serif;
  color: #131313;
  display: flex;
  padding: 4rem;
  gap: 2.5rem;
  align-items: center;
}
.about__left {
  min-width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.about__left__title {
  font-family: "Bevan", serif;
  font-size: 2.074rem;
  color: #131313;
}
.about__left__image {
  display: flex;
}
.about__left__image img {
  width: 280px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 1px solid #0a10b3;
  box-shadow: 8px 8px 0 #0a10b3;
}
.about__right__text {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
}

.skills {
  margin-top: 6rem;
  scroll-margin-top: 100px;
  height: 600px;
  /* background: $fourth-color; */
}
.skills__wrapper {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}
.skills__title {
  display: flex;
  justify-content: center;
  font-family: "Bevan", serif;
  font-size: 2.488rem;
  margin-bottom: 10rem;
}
.skills__items ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
}
.skills li img {
  width: 100px;
  transition: all 0.5s;
  opacity: 0.75;
}
.skills li img:hover {
  width: 130px;
  opacity: 1;
}

.contact {
  margin: 6rem 0;
  background-color: #fa9e9b;
  scroll-margin-top: 100px;
  height: 600px;
}
.contact__wrapper {
  font-family: "Ubuntu", sans-serif;
  color: #131313;
  display: flex;
  /* padding: 4rem;
  align-items: center; */
}
.contact__left {
  min-width: 350px;
  height: auto;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  /* gap: 3rem; */
}
.contact__left__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bevan", serif;
}
.contact__left__title h2 {
  font-size: 2.488rem;
}
.contact__left__title h3 {
  font-size: 2.074rem;
  text-transform: uppercase;
}
.contact__left__title h4 {
  font-size: 1.728rem;
}
.contact__right {
  flex: 2;
  display: flex;
  justify-content: end;
}
.contact__right__form {
  width: 100%;
}
.contact__right__form .form {
  background: #546ed8;
  border: 1px solid #0a10b3;
  border-radius: 50px;
  box-shadow: 4px 4px 0 #0a10b3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 8rem 6rem;
}
.contact__right__form .form__field {
  margin: 0.5rem 0 1rem 0;
  font-size: 1.2rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 2px solid #0a10b3;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}
.contact__right__form .form textarea {
  height: 10rem;
  padding: 0.25rem;
}
.contact__right__form .btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  background: #f8c269;
  margin-top: 2rem;
}