@import url("https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* $bg-primary-color: #05017b; */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;
}

html {
  scroll-behavior: smooth;
  background: #fff;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

img {
  display: block;
}

main {
  display: block !important;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  /* border: 1px solid blueviolet; */
}

.img-fluid {
  width: 100%;
  height: auto;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  color: #131313;
  height: 8rem;
  border: 1px solid coral;
}
.nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  margin-top: 0.85rem;
  background-color: #f8c269;
  border: 1px solid darkblue;
}
.nav__left-header h1 {
  font-size: 2.074rem;
  font-weight: 100;
  line-height: 1;
  margin-top: 0.25rem;
  text-decoration: none;
  text-decoration: none;
  color: #131313;
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  line-height: 1.2;
  border: 1px solid black;
}
.nav__left-header h1:hover {
  cursor: pointer;
  color: #0a10b3;
}
.nav_right-header {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
.nav .nav__menu {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}
.nav .nav__menu a {
  text-decoration: none;
  color: inherit;
}
.nav .nav__menu-item:hover {
  cursor: pointer;
  color: #0a10b3;
}

.navbar-background {
  background: #fff;
}

.hero {
  font-family: "Bevan", serif;
  position: relative;
  overflow: hidden;
  background: #fff;
  /* margin-top: 8rem; */
}

.hero__cursor {
  position: fixed;
  background: #0a10b3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform-origin: center;
}

.hero__shapes {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #0a10b3;
  overflow: hidden;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
  transform-origin: center center;
}

.shape-1 {
  background: #546ed8;
  width: 650px;
  height: 650px;
  margin-top: -325px;
  margin-left: -325px;
}

.shape-2 {
  background: #c87dcc;
  width: 440px;
  height: 440px;
  margin-top: -220px;
  margin-left: -220px;
}

.shape-3 {
  background: #fa9e9b;
  width: 270px;
  height: 270px;
  margin-top: -135px;
  margin-left: -135px;
}

.hero__text {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #fff;
  mix-blend-mode: screen;
}
.hero__text h1 {
  font-size: clamp(100px, 11vw, 200px);
  color: #000;
  margin: 0;
  text-align: center;
}

::-moz-selection {
  color: #fff;
  background: #0a10b3;
}

::selection {
  color: #fff;
  background: #0a10b3;
}

.about {
  margin-top: 50rem;
}
.about__wrapper {
  font-family: "Bevan", serif;
  color: #131313;
  position: relative;
  background-color: #c87dcc;
}
.about__title {
  display: flex;
  justify-content: flex-end;
  padding: 3rem 4rem 0 0;
  font-size: 1.728rem;
}
.about__image img {
  width: 230px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.about__text1, .about__text2 {
  text-align: right;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 4rem;
}
.about__text1 {
  grid-column: 2/5;
  grid-row: 2/3;
}
.about__text2 {
  grid-column: 2/5;
  grid-row: 2/4;
  padding-top: 9rem;
}

.skills {
  margin-top: 7rem;
}
.skills__wrapper {
  font-family: "Bevan", serif;
  color: #131313;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
}
.skills__background1 {
  grid-column: 1/4;
  grid-row: 1/3;
  background: #0a10b3;
  z-index: -3;
  margin-right: 9rem;
  margin-bottom: 7rem;
}
.skills__title1 {
  grid-column: 1/2;
  grid-row: 1/2;
  line-height: 1.5;
  margin: 2rem 0 0 2rem;
}
.skills__title1 h2 {
  text-transform: uppercase;
}
.skills__text2 {
  grid-column: 1/3;
  grid-row: 1/3;
  display: flex;
  flex-direction: column-reverse;
  padding: 2.5rem 4rem 1.5rem 1.5rem;
  margin: 1rem 1rem 0 1.5rem;
  align-self: start;
}
.skills__background2 {
  grid-column: 2/5;
  grid-row: 1/4;
  background: #fa9e9b;
  z-index: -5;
  margin: 8rem 0 8rem 17rem;
}

/* body {
	font-family: Montserrat, sans-serif;
	font-weight: 900;
	cursor: none;
}

body *,
body *::before,
body *::after {
	cursor: none;
}


.shapes {
	position: relative;
	height: 100vh;
	width: 100vw;
	background: #2128bd;
	overflow: hidden;
}


.shape {
	will-change: transform;
	position: absolute;
	border-radius: 50%;
	transform-origin: center center;
}


.shape-1 {
	background: #005ffe;
	width: 650px;
	height: 650px;
	margin-top: -325px;
	margin-left: -325px;
}

.shape-2 {
	background: #ffe5e3;
	width: 440px;
	height: 440px;
	margin-top: -220px;
	margin-left: -220px;
}

.shape-3 {
	background: #ffcc57;
	width: 270px;
	height: 270px;
	margin-top: -135px;
	margin-left: -135px;
}


.content {
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background: #fff;
	mix-blend-mode: screen;
}


h1 {
	font-size: clamp(100px, 10vw, 200px);
	color: #000;
	margin: 0;
	text-align: center;
}


.cursor {
	position: fixed;
	background: #2128bd;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	will-change: transform;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transform-origin: center center;
}


::selection {
	color: #fff;
	background: #2128bd;
}
 */